# EditorConfig is awesome: https://EditorConfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
trim_trailing_whitespace = true

[*.{h,cpp}]
indent_size = 4

[*.md]
trim_trailing_whitespace = false
max_line_length = 100

[*.yml]
indent_size = 2

[*.ui]
indent_size = 1

[*.nfo]
indent_size = 2

[CMakeLists.txt, .clang-tidy, .clang-format, .gitmodules]
indent_size = 2

[*.sh]
indent_style = 4
indent_style = tab

# shfmt specific options
shell_variant    = bash
space_redirects  = true  # like -sr

[third_party/quazip/**]
ignore = true

[third_party/catch2/**]
ignore = true
