CMakeLists.txt.user*
CMakeUserPresets.json

# Dependencies
ZenLib/
MediaInfoDLL/
MediaInfo/
ffmpeg
*.7z
*.zip
third_party/packaging_macOS
third_party/packaging_linux
third_party/packaging_win
*.qm

# Deployment
create-dmg/

# OS specific
.directory
.DS_Store

# IDEs
.vscode
.idea
cmake-build-debug
*.autosave

# Fake data
scripts/generated_media
scripts/library/Demo.*

# Doxygen
doc/html

# Build
*.pro.user*
Makefile
build*/
*.AppImage
*.dmg
*.app
third_party/packaging_linux
third_party/packaging_win
third_party/packaging_macOS

# NodeJS (e.g. because of Markdownlint)
node_modules/
package.json
package-lock.json

# ---> C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
mxe/
