CMakeLists.txt.user*

# Dependencies
ZenLib/
MediaInfoDLL/
MediaInfo/
ffmpeg
*.7z

# Deployment
bintray.json
create-dmg/

# OS specific
.directory
.DS_Store

# IDEs
.vscode

# Fake data
scripts/generated_media
scripts/library/Demo.*

# Doxygen
doc/html

# Build
*.pro.user*
Makefile
build*/
*.AppImage
*.dmg
*.app

# ---> C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
