language: generic

os: linux
dist: bionic

branches:
  only:
  - master

services:
  - docker

jobs:
  include:

  #----------------------------------------------------------------------------
  # Check
  # We run some linters and code formatters to check our code base.
  #----------------------------------------------------------------------------

  # Travis CI has integrated ShellCheck by default. This is faster than using
  # cmake with shellcheck target because we don't need to install conan
  # dependencies.
  - name: "shellcheck linting"
    language: shell
    before_script:
      - shellcheck --version
    script:
      - ./scripts/run_shellcheck.sh

  - name: "cmake-format check"
    language: python
    python: '3.8'
    addons: { apt: { packages: ['python3-setuptools', 'python3-pip'] } }
    install:
      - pip install cmake_format
    before_script:
      - cmake-format --version
    script:
      - ./scripts/run_cmake_format.sh
      - git diff --diff-filter=M --color | cat
      - git diff --diff-filter=M --quiet || (echo "Found unformatted CMakeLists.txt! Use cmake-format!"; exit 1)

  - name: "clang-format check"
    dist: focal
    addons: { apt: { packages: ['clang-format-10'] } }
    script:
      - ./scripts/run_clang_format.sh
      - git diff --diff-filter=M --color | cat
      - git diff --diff-filter=M --quiet || (echo "Found unformatted C++ files! Use clang-format!"; exit 1)

  - name: "cppcheck linting"
    dist: focal
    addons: { apt: { packages: ['cppcheck'] } }
    before_script:
      - cppcheck --version
    script:
      # Currently allow cppcheck to fail due to false positives
      - ./scripts/run_cppcheck.sh || echo "Failed"

  #----------------------------------------------------------------------------
  # Build & Test
  # Build and test our application on macOS and linux. All stages have the
  # script job in common (see end of this yml).
  #----------------------------------------------------------------------------

  - name: "macOS build"
    env: QT=qtMac CXX=clang++ CC=clang MEDIAINFO_VERSION=20.09
    os: osx
    osx_image: xcode12.2
    addons:
      homebrew:
        packages:
        - cmake
        - qt5
        - svn
        - p7zip
        update: true
    install:
      # Download MediaInfo & ZenLib
      - wget --output-document MediaInfo_DLL.tar.bz2
        https://mediaarea.net/download/binary/libmediainfo0/${MEDIAINFO_VERSION}/MediaInfo_DLL_${MEDIAINFO_VERSION}_Mac_i386+x86_64.tar.bz2
      - tar -xvjf MediaInfo_DLL.tar.bz2
      - mv MediaInfoLib/libmediainfo.0.dylib ./
      # The developer folder has a typo: Developers
      - mv MediaInfoLib/Develo*ers/Include/MediaInfoDLL MediaInfoDLL
      - rm -rf MediaInfoLib
      - rm MediaInfo_DLL.tar.bz2
      - svn checkout https://github.com/MediaArea/ZenLib/trunk/Source/ZenLib
    before_script:
      - export PATH="/usr/local/opt/qt/bin:$PATH"
      - mkdir build && cd build
      - qmake --version
      - qmake ../MediaElch.pro CONFIG+=release
    script:
      - make -j 2
    after_success:
      - if [[ "$TRAVIS_PULL_REQUEST" = "false" && "${TRAVIS_BRANCH}" = "master" ]]; then
          ${TRAVIS_BUILD_DIR}/.ci/package.sh;
        fi

  #----------------------------------------------------------------------------

  - name: "Windows MXE Build"
    os: linux
    dist: bionic
    before_install:
      - docker pull mediaelch/mediaelch-ci-win:latest
    script:
      - docker run --rm --user "$(id -u "$(whoami)"):$(id -g "$(whoami)")"
          -v ${TRAVIS_BUILD_DIR}:/src mediaelch/mediaelch-ci-win:latest
            /bin/bash -xc "cd /src && ./.ci/win/build_windows_release.sh"
    after_success:
      - if [[ "$TRAVIS_PULL_REQUEST" = "false" && "${TRAVIS_BRANCH}" = "master" ]]; then
          docker run --rm --user "$(id -u "$(whoami)"):$(id -g "$(whoami)")"
            -v ${TRAVIS_BUILD_DIR}:/src mediaelch/mediaelch-ci-win:latest
              /bin/bash -xc "cd /src && ./.ci/win/package_windows.sh";
          ${TRAVIS_BUILD_DIR}/.ci/win/prepare_bintray_windows.sh;
        fi

  #----------------------------------------------------------------------------

  - name: "Ubuntu 18.04 with Qt 5.14.1 | build + tests + coverage"
    os: linux
    dist: bionic
    services:
      - xvfb
    addons:
      apt:
        sources:
          - sourceline: ppa:ubuntu-toolchain-r/test
          - sourceline: ppa:beineri/opt-qt-5.14.1-bionic
        packages:
          - lcov
          - mesa-common-dev
          - libgl1-mesa-dev
          - python3-setuptools
          - python3-pip
          - ninja-build
          - libcurl4-gnutls-dev
          - libmediainfo-dev
          - libpulse-dev
          - zlib1g-dev
          - libzen-dev
          # Qt dependencies
          - qt514base
          - qt514multimedia
          - qt514declarative
          - qt514quickcontrols
          - qt514wayland
          - qt514x11extras
          - qt514serialbus
    install:
      - pip3 install --upgrade pip setuptools
      - pip3 install --user cmake --upgrade
    before_script:
      - export PATH="/opt/${QT}/bin:$PATH"
      - mkdir build && cd build
      - cmake .. -DCMAKE_BUILD_TYPE=Debug -DENABLE_COVERAGE=ON -DDISABLE_UPDATER=ON -GNinja
    script:
      - ninja
      - ninja coverage
    after_success:
      - bash <(curl -s https://codecov.io/bash) -f coverage-filtered.info || echo "Codecov did not collect coverage reports"

#----------------------------------------------------------------------------
# Deploy
# Nightly builds are uploaded to bintray.com
#----------------------------------------------------------------------------

deploy:
- provider: bintray
  skip_cleanup: true
  on:
    branch: master
    condition: -f ${TRAVIS_BUILD_DIR}/.ci/bintray.json
  user: komet
  key:
    secure: wvecI6fDgvq0bXenVBWzN/Xydgh2qJ9iD9EfHagVGr2EpjCtr7HulUMzeWUV/dxEzyvhMWJ5EhETLb4uAVFaLzrMIxWMvby2sOD6wsSCm+saizqmw/EUWj0GOcn99ULUi0WpjCipNqY24quf7bkhs46o9eVAOisLe7H+KiJct92aCj4Im5YAbxgUbh+bzK3a/fSVf4lTQmamx4dkx3oKe9v71SUdqO+cbuKffebBZnLO8H+jAocgsdK/SYGJtXayYTzIVJwClUOh8aTIRxsELxA8MJ/ByuDzxfCEg+33HzOe0+vgORInePkXexRSummYy5m0z1GXTwgb/Ue2Gw0iUkTRr9lBYXWc0ObEdz0traitWfuqnR2PwNeELlHL6EBTpA1Rdl4NBR1ZLEX/E0BpU0bALT8goqpFaSe2ocLd6e0iHaJ0Evs4s8uX4NsbpE9V+zJxmSFBFv5FZJXhDvah5w9FNs9GSMXwaKMZg1WRHRa94RzSmuYWfRi4DfXF3hgCxwiXW6Vp3myDdHsAumGJsCJNxF7gVVqvnpUQ9Ox4z0fKPgNELZyKlSc4lt/TjuKQ+dFr7QdgbvUl1IO+T/Uzi8jGP2wgzCgJ75qh4rtgdhiIWIhAOhJyS+prw2CAUhAnO0iwOQa9ZcYapVqsGZ+7FWzXtEdxVX3Tx0vc5DpgaM4=
  file: ${TRAVIS_BUILD_DIR}/.ci/bintray.json
