<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
    <key>CFBundleIconFile</key>
    <string>MediaElch.icns</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleGetInfoString</key>
    <string>2.4</string>
    <key>CFBundleVersion</key>
    <string>2.4</string>
    <key>CFBundleShortVersionString</key>
    <string>2.4</string>
    <key>CFBundleExecutable</key>
    <string>MediaElch</string>
    <key>CFBundleIdentifier</key>
    <string>com.kvibes.MediaElch</string>
    <key>NSHumanReadableCopyright</key>
    <string>2015 Daniel Kabel</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.6.8</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.utilities</string>
    <key>ForAppStore</key>
    <string>yes</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
</dict>
</plist>
