[Desktop Entry]
Type=Application
Name=MediaElch
Icon=MediaElch
Terminal=false
Exec=/usr/bin/MediaElch
Categories=AudioVideo;Video;
GenericName=Media Manager
