[Desktop Entry]
Encoding=UTF-8
Version=2.4
Type=Application
Terminal=false
Exec=/usr/bin/MediaElch
Name=MediaElch
Icon=/usr/share/pixmaps/MediaElch.png
Categories=Video;
